@import url(/css/variables.css);
@import url(/css/global.css);

.header__container {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px 20px 0px;
}
header {
  font-family: var(--font-body);
  background-color: var(--color-secondary-very-light-grey);
}
.header__container ul {
  list-style: none;
  display: flex;
}
ul li.active {
  color: var(--color-primary-cyan);
}
header ul > li {
  padding-left: 20px;
  padding-right: 3px;
}
header ul li:hover {
  color: var(--color-primary-cyan);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.container {
  padding-top: 64px;
}
.main__banner {
  max-width: 1111px;
  display: block;
  width: 100%;
  height: auto;
}
.main__container {
  position: relative;
}
.main__first-image {
  position: relative;
}
.rectangle {
  position: absolute;
  top: 244px;
  left: 0px;
  width: 445px;
  height: 357px;
  background-color: var(--color-secondary-very-light-grey);
  z-index: 1;
}
.rectangle > h1 {
  color: var(--color-primary-gray-dark-blue);
  font-family: var(--font-header);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.446px;
  padding: 56px 28px 101px 27px;
}
.rectangle_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 553px;
  color: #ffffff;
  text-align: center;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  background-color: var(--color-primary-dark-blue);
}
.rectangle_two > p {
  padding-right: 36px;
}
.icon_hover {
  display: none;
}
.rectangle_two:hover .icon_hover{
  display: block;
  background-color: var(--color-primary-cyan);
}
.rectangle_two:hover{
  background-color: var(--color-primary-cyan);
}
.rectangle_two:hover .icon_normal {
  display: none;
  background-color: var(--color-primary-cyan);
}
.main__container2 {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}
#main__banner2 {
  display: flex;
  width: 100%;
  max-width: 540px;
  height: auto;
  flex-shrink: 0;
}
.line_top {
  width: 430px;
  height: 1px;
  opacity: 0.15;
  background: #33323d;
}
h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
  margin-top: 51px;
}
.text-side > p {
  padding: 28px 0px 24px 0px;
  opacity: 0.8;
}
.text-side {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 430px;
}
.btn_about-me {
  width: 204px;
  height: 48px;
  border: 1px solid #33323d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 113px;
  text-transform: uppercase;
}
.btn_about-me > p {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.line_bottom {
  margin-top: 46px;
  width: 430px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.15;
  background: #33323d;
}
.main__container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_contact {
  width: 168px;
  height: 48px;
  border: 1px solid #33323d;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_contact > p {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main__container3 > h1 {
  width: 367px;
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.357px;
  margin-top: 151px;
  margin-bottom: 151px;
}

footer {
  color: #fff;
  font-family: var(--font-body);
  background-color: var(--color-primary-gray-dark-blue);
}
.footer__container {
  padding: 33px 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__container ul {
  list-style: none;
  display: flex;
}
.footer__container ul > li {
  padding-left: 48px;
}
.footer__icons {
  display: flex;
  align-items: center;
}
.footer__icons > a {
  padding-left: 15px;
}
.footer__icons > a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footer__first-group-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul a:hover {
  color: var(--color-primary-cyan);
}
