@import url(/css/variables.css);
@import url(/css/global.css);


.header__container {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px 20px 0px;
}
header {
  font-family: var(--font-body);
}
.header__container ul {
  list-style: none;
  display: flex;
}
ul li.active {
  color: var(--color-primary-cyan);
}
header ul > li {
  padding-left: 20px;
  padding-right: 3px;

}
header ul li:hover {
  color: var(--color-primary-cyan);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}




body {
    background-color: var(--color-secondary-very-light-grey);
}
.container {
  max-height: 2894px;
}
.main__banner {
  display: flex;
  width: 100%;
  max-width: 1110px;
  height: auto;
  flex-shrink: 0;
}
.main__container2 {
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.main__banner2 {
  display: flex;
  width: 100%;
  max-width: 635px;
  flex-direction: column;
  height: 1256px;
  justify-content: space-between;
  font-size: 15px;
}
.line_top-large {
  margin-top: 64px;
  margin-bottom: 33px;
  width: 1110px;
  height: 1px;
  opacity: 0.15;
  background: #33323d;
}
.line_bottom-large {
  margin-top: 32px;
  width: 1110px;
  height: 1px;
  opacity: 0.15;
  background: #33323d;
}
.right_arrow {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.right_arrow > img {
  width: 8px;
  height: 16px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #33323d;
}
.left_arrow > img {
  width: 8px;
  height: 16px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #33323d;
  display: flex;
}
.left_arrow {
  display: flex;
  width: 162px;
  justify-content: space-between;
  align-items: center;
}
.main__container-image2 {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 635px;
  height: 1256px;
  display: flex;
  flex-direction: column;
}
.main__container-image2 > p {
  opacity: 0.8;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.main__container4 {
  width: 1110px;
  height: 66px;
  display: flex;
  justify-content: space-between;
}
.text_right > h1 {
  color: #33323d;
  text-align: right;
  font-family: "Ibarra Real Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.286px;
}
.text_right > p {
  color: #33323d;
  text-align: right;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.text_left > h1 {
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.286px;
}
.text_left > p {
  color: #33323d;
  text-align: right;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.main__banner4 {
  display: flex;
  width: 100%;
  max-width: 540px;
  height: auto;
  flex-shrink: 0;
}
.line_top {
  width: 350px;
  height: 1px;
  opacity: 0.15;
  background: #33323d;
}
h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
  margin-top: 49px;
  margin-bottom: 29px;
}
h3 {
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.286px;
  width: 350px;
}
.opacity {
  opacity: 0.5;
}
.text-side > p {
  opacity: 0.8;
}
.text-side {
  color: #33323d;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 350px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}
.alternative {
  color: #5fb4a2;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.text_alternative {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 53px;
}
.btn_visit {
  margin-top: 32px;
  width: 168px;
  height: 48px;
  border: 1px solid #33323d;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line_bottom {
  margin-top: 48px;
  width: 350px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.15;
  background: #33323d;
}
.main__container5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_contact {
  width: 168px;
  height: 48px;
  border: 1px solid #33323d;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_effect:hover {
  background-color: var(--color-primary-dark-blue);
  opacity: 0.6;
  color: #eaeaeb;
  transition: 0.6s;
}
.btn_contact > p {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main__container5 {
  padding: 0px 48px;
  margin-top: 116px;
  margin-bottom: 151px;
}
.main__container5 > h1 {
  width: 367px;
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.357px;
}




footer {
  color: #fff;
  font-family: var(--font-body);
  background-color: var(--color-primary-gray-dark-blue);
}
.footer__container {
  padding: 23px 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1111px;
}
.footer__container ul {
  list-style: none;
  display: flex;
}
.footer__container ul > li {
  padding-left: 48px;
}
.footer__icons {
  display: flex;
  align-items: center;
}
.footer__icons > a {
  padding-left: 15px;
}
.footer__icons > a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footer__first-group-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul a:hover {
  color: var(--color-primary-cyan);
}
